.next-work
  position: relative
  z-index: 2
  display: block
  background-color: #FFFFFF
  @media (min-width: 641px)
    padding-top: calc(var(--u-ritmo-verticale-vw) * 15)
  &__container
    position: relative
    z-index: 2
    display: flex
    gap: calc(var(--u-ritmo-verticale-vw) * 2)
    align-items: flex-end
    background-color: #F5F5F5
    color: #F5F5F5
    padding: calc(var(--u-ritmo-verticale-vw) * 2) calc(var(--u-ritmo-verticale-vw) * 1)
    @media (min-width: 641px)
      align-items: center
      color: #FFFFFF
      padding: calc(var(--u-ritmo-verticale-vw) * 2.5) calc(var(--u-ritmo-verticale-vw) * 4)
    &:after
      content: ''
      position: absolute
      inset: 0
      width: 100%
      background-color: #2E2728
      z-index: -1
      @media (min-width: 641px)
        width: var(--progressValue, 0)
    & > div
      mix-blend-mode: difference
  &__text
    text-transform: uppercase
    font-size: calc(var(--u-ritmo-verticale-vw) * 2)
    @media (max-width: 640px)
      display: none
  &__title
    text-transform: uppercase
    font-weight: 700
    font-size: calc(var(--u-ritmo-verticale-vw) * 5)
    line-height: calc(var(--u-ritmo-verticale-vw) * 4.5)
    @media (min-width: 641px)
      font-weight: 700
      font-size: calc(var(--u-ritmo-verticale-vw) * 8)
      line-height: calc(var(--u-ritmo-verticale-vw) * 9)
      margin-left: auto
  &__note
    white-space: nowrap
    @media (min-width: 641px)
      margin-left: calc(var(--u-ritmo-verticale-vw) * 20)
