.next-work
  a(href='/').next-work__container
    .next-work__text
      p hold off to move on to the next project
    .next-work__title
      p next work
    .next-work__note
      p METAMORPHOSES 3.0
