#fullscreen-modal.fullscreen-modal(data-lenis-prevent='')

  .fullscreen-modal_container
    span.close CLOSE
    picture(aria-hidden='true')
      source(srcset='' type='image/webp')
      img(src='')
