.u-image-text
  .container.u-image-text__container
      .u-image-text__image
        picture(aria-hidden='true')
          source(srcset='./assets/img/u-hero/1-640.jpg' type='image/jpg' media='(max-width: 640px)')
          source(srcset='./assets/img/u-hero/1-640.webp' type='image/webp' media='(max-width: 640px)')
          source(srcset='./assets/img/u-hero/1-960.jpg' type='image/jpg' media='(max-width: 1920px)')
          source(srcset='./assets/img/u-hero/1-960.webp' type='image/webp' media='(max-width: 1920px)')
          source(srcset='./assets/img/u-hero/1-1640.jpg' type='image/jpg' media='(min-width: 1921px)')
          source(srcset='./assets/img/u-hero/1-1640.webp' type='image/webp' media='(min-width: 1921px)')
          img(src='./assets/img/u-hero/1-960.webp')
      .u-image-text__content
        .u-image-text__title
          h2 Disposable
        .u-image-text__text
          p Philip Rabachev is a Russian photo artist and mentor specializing in fine art photography. He is a winner of international grants and has exhibited his work in China, Germany, and Austria. He is an innovative digital artist, the originator of the Blurglass Abstract photo style, and a skilled visual improviser.
          p Philip aims to completely transform the approach to photography and turn it into a new visual art, where the camera doesn't play a major role, but ideas, concepts, and improvisation become more important. The author consistently challenges himself with the question, "What if?" and easily overcomes various obstacles, becoming bolder in his projects, while skillfully maintaining logic even in the most unconventional shot.
