.u-image-text
  .container.u-image-text__container

      .u-image-text__content
        .u-image-text__subtitle
          p Results and exhibitions
        .u-image-text__text
          p He is a firm believer in the need to give contemporary photography a new look and pursues his goals day after day.
      .u-image-text__image
            .card
              picture(aria-hidden='true')
                source(srcset='./assets/img/u-hero/1-640.jpg' type='image/jpg' media='(max-width: 640px)')
                source(srcset='./assets/img/u-hero/1-640.webp' type='image/webp' media='(max-width: 640px)')
                source(srcset='./assets/img/u-hero/1-960.jpg' type='image/jpg' media='(max-width: 1920px)')
                source(srcset='./assets/img/u-hero/1-960.webp' type='image/webp' media='(max-width: 1920px)')
                source(srcset='./assets/img/u-hero/1-1640.jpg' type='image/jpg' media='(min-width: 1921px)')
                source(srcset='./assets/img/u-hero/1-1640.webp' type='image/webp' media='(min-width: 1921px)')
                img(src='./assets/img/u-hero/1-960.webp')
            .card
              picture(aria-hidden='true')
                source(srcset='./assets/img/u-hero/2-640.jpg' type='image/jpg' media='(max-width: 640px)')
                source(srcset='./assets/img/u-hero/2-640.webp' type='image/webp' media='(max-width: 640px)')
                source(srcset='./assets/img/u-hero/2-960.jpg' type='image/jpg' media='(max-width: 1920px)')
                source(srcset='./assets/img/u-hero/2-960.webp' type='image/webp' media='(max-width: 1920px)')
                source(srcset='./assets/img/u-hero/2-1640.jpg' type='image/jpg' media='(min-width: 1921px)')
                source(srcset='./assets/img/u-hero/2-1640.webp' type='image/webp' media='(min-width: 1921px)')
                img(src='./assets/img/u-hero/2-960.webp')
            .card
              picture(aria-hidden='true')
                source(srcset='./assets/img/u-hero/3-640.jpg' type='image/jpg' media='(max-width: 640px)')
                source(srcset='./assets/img/u-hero/3-640.webp' type='image/webp' media='(max-width: 640px)')
                source(srcset='./assets/img/u-hero/3-960.jpg' type='image/jpg' media='(max-width: 1920px)')
                source(srcset='./assets/img/u-hero/3-960.webp' type='image/webp' media='(max-width: 1920px)')
                source(srcset='./assets/img/u-hero/3-1640.jpg' type='image/jpg' media='(min-width: 1921px)')
                source(srcset='./assets/img/u-hero/3-1640.webp' type='image/webp' media='(min-width: 1921px)')
                img(src='./assets/img/u-hero/3-960.webp')

  include ../next-work/next-work
