.u-image-text
  .container.u-image-text__container
      .u-image-text__content
        .u-image-text__subtitle
          p Results and exhibitions
        .u-image-text__text
          p He is a firm believer in the need to give contemporary photography a new look and pursues his goals day after day.
      .u-image-text__image
            .card
              img(src='./assets/img/u-image-text/1.jpg' loading="lazy")
            .card
              img(src='./assets/img/u-image-text/2.jpg' loading="lazy")
            .card
              img(src='./assets/img/u-image-text/3.jpg' loading="lazy")

      .u-image-text__note
        div.-mob
          p
        div.-desk
          p Disposable in the Vasileostrovskaya metro station in Saint Petersburg
          p He is a firm believer in the need to give contemporary photography a new look and pursues his goals day after day.
          p Results and exhibitions

