.u-image-text
  background-color: #FFFFFF
  position: relative
  overflow: hidden
  z-index: 2
  padding: calc(var(--u-ritmo-verticale-vw) * 2.5) 0
  @media (min-width: 641px)
    padding: calc(var(--u-ritmo-verticale-vw) * 7) 0 calc(var(--u-ritmo-verticale-vw) * 6)
  &__container
    display: flex
    flex-direction: column
    gap: calc( var(--u-ritmo-verticale-vw) * 2)
    @media (min-width: 641px)
      display: grid
      grid-template-columns: calc( var(--u-ritmo-verticale-vw) * 90) 1fr
      grid-template-rows: 1fr max-content
      height: calc(100vh - (var(--u-ritmo-verticale-vw) * 6) * 2)
  &__image
    aspect-ratio: 375/466
    @media (min-width: 641px)
      position: relative
      width: 100%
      height: 100%
      aspect-ratio: auto
    img
      object-fit: cover
  &__content
    display: flex
    flex-direction: column
    justify-content: center
    gap: calc( var(--u-ritmo-verticale-vw) * 1)
    padding: 0 calc(var(--u-ritmo-verticale-vw) * 3) 0 calc(var(--u-ritmo-verticale-vw) * 4)
    @media (min-width: 641px)
      width: calc( var(--u-ritmo-verticale-vw) * 76.5)
      gap: calc( var(--u-ritmo-verticale-vw) * 2)
      padding: 0

  &__subtitle
    color: #737373
    font-size: calc( var(--u-ritmo-verticale-vw) * 2.5)
    line-height: calc( var(--u-ritmo-verticale-vw) * 3)
    @media (min-width: 641px)
      font-size: calc( var(--u-ritmo-verticale-vw) * 3)
      line-height: calc( var(--u-ritmo-verticale-vw) * 3)
  &__text
    color: var(--default-text)
    font-size: calc( var(--u-ritmo-verticale-vw) * 3.75)
    line-height: calc( var(--u-ritmo-verticale-vw) * 4)
    letter-spacing: calc(var(--u-ritmo-verticale-vw) * 0.15 * -1)
    letter-spacing: -0.06em
    @media (min-width: 641px)
      line-height: calc( var(--u-ritmo-verticale-vw) * 8)
      font-size: calc( var(--u-ritmo-verticale-vw) * 8)
  &__note
    color: #737373
    line-height: calc( var(--u-ritmo-verticale-vw) * 3)
    font-size: calc( var(--u-ritmo-verticale-vw) * 3)
    letter-spacing: calc(var(--u-ritmo-verticale-vw) * 0.15 * -1)
    //overflow: hidden
    @media (min-width: 641px)
      text-align: right
    div
      position: relative
      @media (max-width: 640px)
        height: 2em
    @media (min-width: 641px)
      grid-column: 2
      height: 1em
    p
      inset: 0
      position: absolute

    @media (max-width: 640px)
      display: none
  @media (min-width: 641px)
    .card
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      overflow: hidden

    .card:not(:first-of-type)
      clip-path: polygon(50% 25%, 50% 25%, 50% 75%, 50% 75%)
  //    slider
  @media (max-width: 640px)
     .slider_controls

.pin-spacer
  margin: 0 !important
