.u-image-text
  &__container
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: calc( var(--u-ritmo-verticale-vw) * 5)
  &__image
    aspect-ratio: 1/1
  &__content
  &__title
    font-size: calc( var(--u-ritmo-verticale-vw) * 8)
  &__text
    font-size: calc( var(--u-ritmo-verticale-vw) * 3)

