.u-gif
  //img(src="./assets/img/gif.gif" alt="я джифка")
  //img(src="./assets/img/gif-color.gif" alt="я джифка")
  video(src='./assets/video/gif.mp4' autoplay loop muted playsinline poster='./assets/img/poster.jpg')
  .u-gif__title December 2024
