.u-gif
  height: 100svh
  z-index: 4
  position: relative
  @media (max-width: 640px)
    height: max-content
    width: 100%
    aspect-ratio: 375/280
    order: 1
    margin-top: calc(var(--u-ritmo-verticale-vw) * 5)
  img
    object-fit: cover
    object-position: center
  &__title
    display: none
    @media (min-width: 641px)
      display: block
      position: absolute
      right: calc(var(--u-ritmo-verticale-vw) * 9)
      bottom: calc(var(--u-ritmo-verticale-vw) * 4)
      font-size: calc(var(--u-ritmo-verticale-vw) * 8)
      line-height: calc(var(--u-ritmo-verticale-vw) * 9)
      font-weight: 700
      mix-blend-mode: difference
      text-transform: uppercase
