.u-process-slider
  .container
    .u-process-slider__text
      h2 The process
      p Each project is more of a coincidence, starting with a small drawing and moving into real art. Philippe himself finds the materials for the composition that surround us, without using ready-made 3D models and objects.
      p Philippe has a special and recognizable style: he creates surreal compositions using light, shapes, color, dynamics and, of course, people - the main characters of many of his photographs.
    .u-process-slider__list
      .u-process-slider__item.card
        .card--image
          img(src='./assets/img/u-hero/1-960.webp')
      .u-process-slider__item.card
        .card--image
          img(src='./assets/img/u-hero/2-960.webp')
      .u-process-slider__item.card
        .card--image
          img(src='./assets/img/u-hero/3-960.webp')
      .u-process-slider__item.card
        .card--image
          img(src='./assets/img/u-hero/4-960.webp')
      .u-process-slider__item.card
        .card--image
          img(src='./assets/img/u-hero/5-960.webp')
      .u-process-slider__item.card
        .card--image
          img(src='./assets/img/u-hero/6-960.webp')




