.u-process-slider
  .container
    display: flex
    flex-direction: column
    gap: calc(var(--u-ritmo-verticale-vw) * 9)
  &__text
    width: calc(var(--u-ritmo-verticale-vw) * 141)
    margin-left: auto
    h2
      font-size: calc(var(--u-ritmo-verticale-vw) * 8)
      line-height: calc(var(--u-ritmo-verticale-vw) * 9)
      text-transform: uppercase
      text-align: center
    p
      font-size: calc(var(--u-ritmo-verticale-vw) * 5)
      line-height: calc(var(--u-ritmo-verticale-vw) * 5)
      letter-spacing: -5%
  &__item
    max-width: calc(var(--u-ritmo-verticale-vw) * 52)

  .slider_controls
    width: calc(var(--u-ritmo-verticale-vw) * 76.5)
  .slider--progressbar
    max-width: calc(var(--u-ritmo-verticale-vw) * 61.5)
