.u-process-slider
  .container
    .u-process-slider__text
      h2 The process
      p Each project is more of a coincidence, starting with a small drawing and moving into real art. Philippe himself finds the materials for the composition that surround us, without using ready-made 3D models and objects.
      p Philippe has a special and recognizable style: he creates surreal compositions using light, shapes, color, dynamics and, of course, people - the main characters of many of his photographs.
    .u-process-slider__list
      .u-process-slider__card.card
        .card__image
          img(src='./assets/img/u-process-slider/1.jpg')
      .u-process-slider__card.card
        .card__image
          img(src='./assets/img/u-process-slider/3.jpg')
      .u-process-slider__card.card
        .card__image
          img(src='./assets/img/u-process-slider/2.jpg')
      .u-process-slider__card.card
        .card__image
          img(src='./assets/img/u-process-slider/4.jpg')
      .u-process-slider__card.card
        .card__image
          img(src='./assets/img/u-process-slider/6.jpg')
      .u-process-slider__card.card
        .card__image
          img(src='./assets/img/u-process-slider/7.jpg')
      .u-process-slider__card.card
        .card__image
          img(src='./assets/img/u-process-slider/5.jpg')
      .u-process-slider__card.card
        .card__image
          img(src='./assets/img/u-process-slider/8.jpg')





