.u-process-slider
  overflow: hidden
  background-color: #FFFFFF
  .container
    display: flex
    flex-direction: column
  &__list
    margin-bottom: calc(var(--u-ritmo-verticale-vw) * 2)
    //max-width: calc(var(--u-ritmo-verticale-vw) * 106)
    @media (min-width: 641px)
      margin-left: calc(var(--u-ritmo-verticale-vw) * 26)


  &__text
    margin-bottom: calc(var(--u-ritmo-verticale-vw) * 3)
    @media (min-width: 641px)
      width: calc(var(--u-ritmo-verticale-vw) * 141)
      margin-left: auto
      margin-bottom: calc(var(--u-ritmo-verticale-vw) * 9)
    h2
      font-size: calc(var(--u-ritmo-verticale-vw) * 3)
      line-height: calc(var(--u-ritmo-verticale-vw) * 4)
      text-transform: uppercase
      @media (min-width: 641px)
        font-size: calc(var(--u-ritmo-verticale-vw) * 8)
        line-height: calc(var(--u-ritmo-verticale-vw) * 9)
        text-align: center
    p
      font-size: calc(var(--u-ritmo-verticale-vw) * 2.5)
      line-height: calc(var(--u-ritmo-verticale-vw) * 2.5)
      @media (min-width: 641px)
        display: inline
        font-size: calc(var(--u-ritmo-verticale-vw) * 5)
        line-height: calc(var(--u-ritmo-verticale-vw) * 5)
      @media (max-width: 640px)
        &:not(:last-of-type)
          margin-bottom: calc(var(--u-ritmo-verticale-vw) * 2)

  &__item
    //max-width: calc(var(--u-ritmo-verticale-vw) * 52)
    &:nth-child(even)
      .card--image
        //height: 250px

  .slider_controls
    width: 100%
    @media (min-width: 641px)
      max-width: calc(var(--u-ritmo-verticale-vw) * 76.5)
  .slider--progressbar
    @media (min-width: 641px)
      max-width: calc(var(--u-ritmo-verticale-vw) * 61.5)
