extends ../layouts/hero

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content

  include ../components/content/u-hero/u-hero
  include ../components/content/gif/gif
  include ../components/content/u-image-text/u-image-text




