extends ../layouts/hero

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content
  include ../components/content/scrollbar/scrollbar
  include ../components/content/u-project-slider/u-project-slider




