/* Подключение шрифтов Fer_Display
@font-face
  font-family: 'Fer_Display'
  src: url('/assets/fonts/Fontspring-DEMO-fer_display-black.otf') format("opentype")
  font-weight: 900
  font-style: normal

@font-face
  font-family: 'Fer_Display'
  src: url('/assets/fonts/Fontspring-DEMO-fer_display-bold.otf') format("opentype")
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Fer_Display'
  src: url('/assets/fonts/Fontspring-DEMO-fer_display-demibold.otf') format("opentype")
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Fer_Display'
  src: url('/assets/fonts/Fontspring-DEMO-fer_display-extrabold.otf') format("opentype")
  font-weight: 800
  font-style: normal

@font-face
  font-family: 'Fer_Display'
  src: url('/assets/fonts/Fontspring-DEMO-fer_display-medium.otf') format("opentype")
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Fer_Display'
  src: url('/assets/fonts/Fontspring-DEMO-fer_display-regular.otf') format("opentype")
  font-weight: normal
  font-style: normal

/* Подключение шрифта Kharms Display
@font-face
  font-family: 'Kharms Display'
  src: url('/assets/fonts/KharmsDisplay-Regular.eot')

  /* IE9 Compat Modes
  src: local("Kharms Display"), local("KharmsDisplay-Regular"), url('/assets/fonts/KharmsDisplay-Regular.eot?#iefix') format("embedded-opentype"), url('/assets/fonts/KharmsDisplay-Regular.woff2') format("woff2"), url('/assets/fonts/KharmsDisplay-Regular.woff') format("woff"), url('/assets/fonts/KharmsDisplay-Regular.ttf') format("truetype"), url('/assets/fonts/KharmsDisplay-Regular.tif') format("tiff")

  /* Legacy iOS
  font-weight: normal
  font-style: normal

*
  margin: 0
  padding: 0
  box-sizing: border-box

h1, h2, h3, h4, h5
  margin: 0
  font-size: inherit

body
  font-family: "Fer_Display", sans-serif
  color: var(--u-main-text-color)

button
  padding: 0
  background-color: transparent
  border: none
  color: currentColor
  cursor: pointer

html
  --u-ritmo-verticale-vw: .523560209424084vw
  --u-button-background: #4E5566
  --u-button-background-hover: #898b92
  --u-button-color: #FFFFFF
  --gap-grid: calc(var(--u-ritmo-verticale-vw) * 4)
  --transition: 0.18s linear

.container
  padding: calc(var(--u-ritmo-verticale-vw) * 4) calc(var(--u-ritmo-verticale-vw) * 4)

@media (min-width: 641px)
  .container
    padding: calc(var(--u-ritmo-verticale-vw) * 4) calc(var(--u-ritmo-verticale-vw) * 10)

@media (min-width: 1921px)
  .container
    padding: calc(var(--u-ritmo-verticale-vw) * 4) calc(var(--u-ritmo-verticale-vw) * 16)

@media (max-width: 640px)
  html
    --u-ritmo-verticale-vw: 2.133333333333333vw

/*@media (min-width: 1921px) {
/*    :root {
/*        --u-ritmo-verticale-vw: calc(.523560209424084vw/1.4);
/*    }
/*}

img
  width: 100%
  height: 100%

a
  cursor: pointer
  color: currentColor
  text-decoration: none

section
  overflow: hidden

.swiper-wrapper .card
  -webkit-transform: translate3d(0, 0, 0)
  -webkit-backface-visibility: hidden
  flex-shrink: 0
  flex-grow: 0
  width: 100%
  height: 100%

body
  background: var(--bck-color, #DDDDDD)
  transition: background-color var(--transition)
  position: relative

  &[data-grid="ON"]:after
    content: ''
    inset: 0
    background: repeating-linear-gradient(transparent, transparent calc(var(--u-ritmo-verticale-vw) * 3.75), var(--color-grid) calc(var(--u-ritmo-verticale-vw) * 4)), repeating-linear-gradient(90deg, transparent, transparent calc(var(--u-ritmo-verticale-vw) * 3.75), var(--color-grid) calc(var(--u-ritmo-verticale-vw) * 4))
    position: absolute
    pointer-events: none
    transition: var(--transition)

  &[data-theme='white']
    --default-text: #000
    --bck-color: #DDDDDD
    --color-grid: rgba(254, 55, 5, 0.2)

  &[data-theme='dark']
    --default-text: #fff
    --bck-color: #292828
    --color-grid: rgba(240, 240, 240, 0.5)

  &[data-theme='color']
    --default-text: #fff
    --bck-color: radial-gradient(50% 50% at 50% 50%, #FFE00B 21%, #FE3703 100%)
    --color-grid: rgba(240, 240, 240, 0.5)

/*theme


body[data-theme='white']
  @media (min-width: 641px)
    .swiper--prev, .swiper--next
      filter: invert(1)


button[data-theme]
  cursor: pointer

@media (max-width: 640px)
  section:first-of-type
    padding-top: var(--headerHeight)

.no-scroll
  overflow: hidden

@media (min-width: 641px)
  section
    padding-left: calc(var(--u-ritmo-verticale-vw) * 8)

    &:first-of-type
      padding-top: calc(var(--u-ritmo-verticale-vw) * 4)

main
  transition: 0.3s ease-in-out

.blend-mix
  mix-blend-mode: difference

.text_roll
  display: inline-block
  overflow-y: clip
  height: auto
  white-space: nowrap

  span
    position: relative
    display: inline-block
    -webkit-transition: -webkit-transform .3s
    transition: -webkit-transform .3s
    transition: transform .3s
    transition: transform 0.3s, -webkit-transform 0.3s

    &::before
      position: absolute
      top: 100%
      left: 0
      display: inline-block
      width: 100%
      height: 100%
      content: attr(data-hover)
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)

  &:hover span
    -webkit-transform: translateY(-100%)
    -ms-transform: translateY(-100%)
    transform: translateY(-100%)

.card--image canvas
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 1

/* Стили для модального окна
/* Стили для модального окна

.fullscreen-modal
  position: fixed
  left: 0
  top: 0
  width: 100vw
  padding: calc(var(--u-ritmo-verticale-vw) * 2)
  background-color: rgba(0, 0, 0, 0.9)
  z-index: 50
  right: 0
  bottom: 0
  overflow: hidden
  -webkit-overflow-scrolling: touch
  max-width: 100vw
  height: 100vh
  transition: .3s ease-out
  place-items: center
  -ms-scroll-chaining: none
  overscroll-behavior: contain
  opacity: 0
  pointer-events: none
.fullscreen-modal.is_active
  opacity: 1
  pointer-events: all
.fullscreen-modal_container
  height: 100%
  width: 100%

.fullscreen-modal_container .card
  overflow: auto
  img
    height: auto
/* Добавляем скролл

.modal-content
  display: block
  margin: auto
  position: relative
  max-width: none
  max-height: none


.close
  position: absolute
  top: 15px
  right: 35px
  color: #f1f1f1
  font-size: 40px
  font-weight: bold
  transition: 0.3s
  cursor: pointer
  z-index: 2

  &:hover, &:focus
    color: #bbb
    text-decoration: none
    cursor: pointer

html.lenis
  overflow: hidden

  body
    overflow: hidden

