/* Подключение шрифтов Fer_Display
@font-face
  font-family: 'Fer_Display'
  src: url('/assets/fonts/Fontspring-DEMO-fer_display-black.otf') format("opentype")
  font-weight: 900
  font-style: normal

@font-face
  font-family: 'Fer_Display'
  src: url('/assets/fonts/Fontspring-DEMO-fer_display-bold.otf') format("opentype")
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Fer_Display'
  src: url('/assets/fonts/Fontspring-DEMO-fer_display-demibold.otf') format("opentype")
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Fer_Display'
  src: url('/assets/fonts/Fontspring-DEMO-fer_display-extrabold.otf') format("opentype")
  font-weight: 800
  font-style: normal

@font-face
  font-family: 'Fer_Display'
  src: url('/assets/fonts/Fontspring-DEMO-fer_display-medium.otf') format("opentype")
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Fer_Display'
  src: url('/assets/fonts/Fontspring-DEMO-fer_display-regular.otf') format("opentype")
  font-weight: normal
  font-style: normal

/* Подключение шрифта Kharms Display
@font-face
  font-family: 'Kharms Display'
  src: url('/assets/fonts/KharmsDisplay-Regular.eot')

  /* IE9 Compat Modes
  src: local("Kharms Display"), local("KharmsDisplay-Regular"), url('/assets/fonts/KharmsDisplay-Regular.eot?#iefix') format("embedded-opentype"), url('/assets/fonts/KharmsDisplay-Regular.woff2') format("woff2"), url('/assets/fonts/KharmsDisplay-Regular.woff') format("woff"), url('/assets/fonts/KharmsDisplay-Regular.ttf') format("truetype"), url('/assets/fonts/KharmsDisplay-Regular.tif') format("tiff")

  /* Legacy iOS
  font-weight: normal
  font-style: normal

*
  margin: 0
  padding: 0
  box-sizing: border-box

h1, h2, h3, h4, h5
  margin: 0
  font-size: inherit

body
  font-family: "Fer_Display", sans-serif
  color: var(--u-main-text-color)

button
  padding: 0
  background-color: transparent
  border: none
  color: currentColor
  cursor: pointer

html
  --u-ritmo-verticale-vw: .523560209424084vw
  --u-button-background: #4E5566
  --u-button-background-hover: #898b92
  --u-button-color: #FFFFFF
  --gap-grid: calc(var(--u-ritmo-verticale-vw) * 4)
  --transition: 0.18s linear
  --width-scrollbar: calc(var(--u-ritmo-verticale-vw) * 11.875)

.container
  padding: calc(var(--u-ritmo-verticale-vw) * 4) calc(var(--u-ritmo-verticale-vw) * 4)

@media (min-width: 641px)
  .container
    padding: calc(var(--u-ritmo-verticale-vw) * 4) calc(var(--u-ritmo-verticale-vw) * 10)

@media (min-width: 1921px)
  .container
    padding: calc(var(--u-ritmo-verticale-vw) * 4) calc(var(--u-ritmo-verticale-vw) * 16)

@media (max-width: 640px)
  html
    --u-ritmo-verticale-vw: 2.133333333333333vw

@media (min-width: 1921px)
  html
    --u-ritmo-verticale-vw: calc(.523560209424084vw/1.4)


img
  width: 100%
  height: 100%

a
  cursor: pointer
  color: currentColor
  text-decoration: none

section
  overflow: hidden

.swiper-wrapper .card
  -webkit-transform: translate3d(0, 0, 0)
  -webkit-backface-visibility: hidden
  flex-shrink: 0
  flex-grow: 0
  width: 100%
  height: 100%

body
  background: var(--bck-color, #DDDDDD)
  transition: background-color var(--transition)
  position: relative
  // grid
  @media (min-width: 641px)
    &:after
      content: ''
      inset: 0
      background: repeating-linear-gradient(transparent, transparent calc(var(--u-ritmo-verticale-vw) * 3.75), var(--color-grid1) calc(var(--u-ritmo-verticale-vw) * 4)), repeating-linear-gradient(90deg, transparent, transparent calc(var(--u-ritmo-verticale-vw) * 3.75), var(--color-grid1) calc(var(--u-ritmo-verticale-vw) * 4))
      position: absolute
      pointer-events: none
      transition: var(--transition)
      z-index: -1
      opacity: 0
    &:before
      content: ''
      inset: 0
      background: repeating-linear-gradient(transparent, transparent calc(var(--u-ritmo-verticale-vw) * 15.75), var(--color-grid2) calc(var(--u-ritmo-verticale-vw) * 16)), repeating-linear-gradient(90deg, transparent, transparent calc(var(--u-ritmo-verticale-vw) * 15.75), var(--color-grid2) calc(var(--u-ritmo-verticale-vw) * 16))
      position: absolute
      pointer-events: none
      transition: var(--transition)
      z-index: -1
      opacity: 0
    &[data-grid="ON"]
      &:after
        opacity: 1
      &:before
        opacity: 1




@media (max-width: 640px)
  section:first-of-type
    padding-top: var(--headerHeight)

.no-scroll
  overflow: hidden

@media (min-width: 641px)
  section
    padding-left: var(--width-scrollbar)

    &:first-of-type
      padding-top: calc(var(--headerHeight) + calc(var(--u-ritmo-verticale-vw) * 1))

main
  transition: 0.3s ease-in-out

.blend-mix
  mix-blend-mode: difference

// animation text roll
.text_roll
  display: inline-block
  overflow-y: clip
  height: auto
  white-space: nowrap
  span
    position: relative
    display: inline-block
    transition: transform .3s
    &::before
      position: absolute
      top: 100%
      left: 0
      display: inline-block
      width: 100%
      height: 100%
      content: attr(data-hover)
      transform: translate3d(0, 0, 0)
  &:hover span
    transform: translateY(-100%)

.card--image canvas
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 1

html.lenis
  overflow: hidden

  body
    overflow: hidden

