header.u-header
  .u-header__container
    .u-header__logo Fillipp Rabachev
    nav.menu
      .menu__item
        .menu__item__title
          span projects
        .menu__links
          a(href='').text_roll
            span FM1891INLINE
          a(href='').text_roll.is_active
            span Disposable
          a(href='').text_roll
            span METAMORPHOSES 3.0
      .menu__item
        .menu__item__title
          span directions
        .menu__links
          a(href='').text_roll
            span digital art
          a(href='').text_roll
            span photo
          a(href='').text_roll
            span art
      .menu__item
        .menu__item__title
          span
        .menu__links
          a(href='').text_roll
            span blurglass abstract
          a(href='').text_roll
            span collage
    .u-header__button-open-menu
      span Menu
      span.icon-close

.u-header__menu
  .container
    .menu
      .menu__item
        .menu__item__title
          span
        .menu__item__list
          a(href='')
            span index
          a(href='')
            span about
          a(href='')
            span Contact
          a(href='')
            span 404
      .menu__links
        a(href='')
          span Digital.
        a(href='')
          span Art.
        a(href='')
          span Photo Art .
        a(href='')
          span Collage.
        a(href='')
          span Blurglass Collage.
        a(href='')
          span disposable.
        a(href='')
          span FM1891INLINE.
        a(href='')
          span METAMORPHOSES 3.0.


