header.u-header
  .container.u-header__container
    .u-header__logo Fillipp Rabachev
    nav.u-header__nav
      .u-header__nav_item
        a(href='')
          span index
      .u-header__nav_item
        a(href='')
          span about
      .u-header__nav_item
        a(href='')
          span Contact
      .u-header__nav_item
        a(href='')
          span 404
    .u-header__burger
      span
      span
      span
.u-header__menu
  .container
    .u-header__menu_list
      .u-header__menu_item
        a(href='/')
          span  index
      .u-header__menu_item
        a(href='/')
          span about
      .u-header__menu_item
        a(href='/')
          span Contact
      .u-header__menu_item
        a(href='/')
          span 404
    .u-header__menu_note
      span Digital  .  Art  .  Photo Art  .  Collage  . Blurglass Collage  .  disposable  . FM1891INLINE  . METAMORPHOSES 3.0  .



