.u-header
  position: fixed
  width: 100vw
  left: 0
  top: 0
  z-index: 50
  mix-blend-mode: difference
  @media (min-width: 641px)
  &__container
    display: flex
    align-items: center
    justify-content: space-between
    gap: calc(var(--u-ritmo-verticale-vw)* 2)
    position: relative
    z-index: 50
    @media (max-width: 640px)
      justify-content: initial
      padding: 0 calc(var(--u-ritmo-verticale-vw)* 1.5)
  &__logo
    font-family: 'Kharms Display'
    display: block
    z-index: 5
    font-size: calc(var(--u-ritmo-verticale-vw) * 3)
    color: #FFFFFF
    line-height: calc(var(--u-ritmo-verticale-vw) * 6)
    letter-spacing: -0.02em
    transition: var(--transition)
    @media (min-width: 641px)
      display: block
      padding-left: calc(var(--u-ritmo-verticale-vw) * 4)
      font-size: calc(var(--u-ritmo-verticale-vw) * 6)
      line-height: calc(var(--u-ritmo-verticale-vw) * 8)
  &__button-open-menu
    text-transform: uppercase
    color: #FFFFFF
    font-size: calc(var(--u-ritmo-verticale-vw) * 2)
    line-height: calc(var(--u-ritmo-verticale-vw) * 3)
    margin-left: auto
    display: flex
    align-items: center
    mix-blend-mode: difference
    .icon-close
      display: none
    @media (min-width: 641px)
      display: none
  .menu
    @media (max-width: 640px)
      display: none
@media (min-width: 641px)
  .menu
    display: flex
    gap:  calc(var(--u-ritmo-verticale-vw)* 15)
    position: absolute
    translate: 0 0
    left: auto
    right: calc(var(--u-ritmo-verticale-vw)* 38)
    top: calc(var(--headerHeight) + calc(var(--u-ritmo-verticale-vw)* 1))
    transition: var(--transition)
    text-transform: uppercase
    font-size: calc(var(--u-ritmo-verticale-vw)* 2)
    line-height: calc(var(--u-ritmo-verticale-vw)* 3)
    &__nav
      display: flex
      gap: calc(var(--u-ritmo-verticale-vw)* 3)
      height: calc(var(--u-ritmo-verticale-vw)* 3)
      color: var(--color-secondary-text)
      opacity: 0
      pointer-events: none
      transition: var(--transition)
    &__item
      letter-spacing: 0.03em
      &__title
        height: calc(var(--u-ritmo-verticale-vw)* 3)
        color: var(--color-secondary-text)
        display: flex
        align-items: center
        gap: calc(var(--u-ritmo-verticale-vw)* 1)
        .icon-arrow
          opacity: 0
          display: inline-block
          width: 1em
          height: 1em
          transition: var(--transition)
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9.5 6L3 12M3 12L9.5 18M3 12H22' stroke='%23fff' stroke-width='1.5'/%3E%3C/svg%3E")
          rotate: -90deg
        .-col-2
          display: grid
          grid-template-columns: repeat(2, 1fr)
          gap: 0 calc(var(--u-ritmo-verticale-vw)* 6)
      &__list
        display: flex
        flex-direction: column
    &__links
      display: flex
      flex-direction: column
      position: absolute
      top: 100%
      transition: var(--transition)
      color: #FFFFFF
      a
        &.is_active
          font-weight: 700
@media (min-width: 1921px)
  .menu
    right: calc(var(--u-ritmo-verticale-vw)* 76)
.u-header.is_scroll
  --color-secondary-text: #fff
  @media (min-width: 641px)
    .menu
      opacity: 0
      pointer-events: none
      top: 50%
      &__nav
        opacity: 1
        pointer-events: auto
      &__links
        opacity: 0
        pointer-events: none
    .menu__item__title
      .icon-arrow
        opacity: 1
      &:hover
        .icon-arrow
          scale: -1  1
        & .menu__links
          opacity: 1
          pointer-events: auto
  @media (max-width: 640px)
    .u-header__logo
      translate: 0

.u-header__menu
  display: none
@media (max-width: 640px)
  .u-header__menu
    position: fixed
    transition: var(--transition)
    height: 100dvh
    overflow: scroll
    opacity: 0
    pointer-events: none
    padding-top: var(--headerHeight)
    z-index: 20
    background-color: rgba(142, 142, 142, .8)
    display: flex
    max-width: 100vw
    width: 100%
    .container
      width: 100%
      display: flex
      flex-direction: column
      padding: 0 calc(var(--u-ritmo-verticale-vw)* 3)

  .menu
    display: flex
    flex-direction: column
    gap:  calc(var(--u-ritmo-verticale-vw)* 5)
    text-align: right
    padding: calc(var(--u-ritmo-verticale-vw)* 10.5) 0
    &__item
      text-transform: uppercase
      font-size: calc(var(--u-ritmo-verticale-vw)* 7)

      color: #FFFFFF
      line-height: 0.9em
      font-weight: 700
      letter-spacing: 0.03em
      &__list
        display: flex
        flex-direction: column
    &__links
      display: flex
      flex-direction: column
      gap: calc(var(--u-ritmo-verticale-vw)* 1)
      text-transform: uppercase
      p
        color: #0A0A0A
        font-weight: 700
        font-size: calc(var(--u-ritmo-verticale-vw)* 1.5)
        line-height: calc(var(--u-ritmo-verticale-vw)* 2.5)
      a
        font-size: calc(var(--u-ritmo-verticale-vw)* 3)
        color: #FFFFFF
        margin-top: auto
        &.is_active
          font-weight: 700


.opening-menu
  overflow: hidden
  main
    mix-blend-mode: difference
  .u-header
    mix-blend-mode: inherit
  .u-header__menu
    pointer-events: auto
    opacity: 1
  .u-header__button-open-menu
    span:not(.icon-close)
      display: none
    .icon-close
      display: inline-block



