.u-header
  position: fixed
  width: 100vw
  left: 0
  top: 0
  z-index: 50
  @media (max-width: 640px)
    display: block
    mix-blend-mode: difference
    filter: invert(1)
  @media (min-width: 641px)
    translate: 0 -100%
    transition: var(--transition)
    &.is_scrolled
      translate: 0 0
  &__container
    display: flex
    align-items: center
    gap: calc(var(--u-ritmo-verticale-vw)* 2)
    position: relative
    z-index: 50
    padding-top: calc(var(--u-ritmo-verticale-vw) * .5)
    padding-bottom:  calc(var(--u-ritmo-verticale-vw) * .5)
    @media (min-width: 641px)
      justify-content: space-between
  &__logo
    font-family: 'Kharms Display'
    display: block
    z-index: 5
    mix-blend-mode: difference
    font-size: calc(var(--u-ritmo-verticale-vw) * 4)
    letter-spacing: -0.03em
    //color: var(--default-text)
    line-height: 1.4em
    @media (min-width: 641px)
      display: block
      padding-left: calc(var(--u-ritmo-verticale-vw) * 2)
      font-size: calc(var(--u-ritmo-verticale-vw) * 5)
      letter-spacing: -0.03em
      line-height: 1.4em
  &__nav
    display: none
    @media (min-width: 641px)
      display: flex
      gap: calc(var(--u-ritmo-verticale-vw) * 1)
      &_item
        font-size: calc(var(--u-ritmo-verticale-vw)* 2)
        text-transform: uppercase

  &__burger
    display: none
    @media (max-width: 640px)
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: flex-end
      width: calc(var(--u-ritmo-verticale-vw)* 4)
      gap: calc(var(--u-ritmo-verticale-vw)* 1.2)
      cursor: pointer
      position: relative
      margin-left: auto
      margin-right: calc(var(--u-ritmo-verticale-vw)* -4)

    span
      display: block
      width: 100%
      height: 2px
      background-color: #000
      transition: all 0.3s ease-in-out
      &:nth-child(2)
        width: calc(var(--u-ritmo-verticale-vw)* 4.75)
  /* Плавный переход


  &__menu
    position: fixed
    transition: var(--transition)
    height: 100vh
    overflow: scroll
    opacity: 0
    pointer-events: none
    padding-top: var(--headerHeight)
    z-index: 20
    //filter: invert(1)
    .container
      width: 100%
      display: flex
      flex-direction: column
    //margin-top: calc(var(--u-ritmo-verticale-vw)* 11)
    &_list
      display: flex
      flex-direction: column
      gap:  calc(var(--u-ritmo-verticale-vw)* 1)
    &_item
      text-transform: uppercase
      font-size: calc(var(--u-ritmo-verticale-vw)* 8)
      a
        -webkit-text-stroke: 1px #FFFFFF
        color: transparent
    &_note
      font-size: calc(var(--u-ritmo-verticale-vw)* 3)
      -webkit-text-stroke: 1px #FFFFFF
      color: transparent
      margin-top: auto

.opening-menu
  .u-header
    mix-blend-mode: inherit
  .u-header__menu
    background-color: rgba(142, 142, 142, .8)
    pointer-events: auto
    display: flex
    opacity: 1
  .u-header__burger span
    background-color: #000
    &:nth-child(1)
      transform: translateY(14px) rotate(45deg)
    &:nth-child(2)
      opacity: 0
    &:nth-child(3)
      transform: translateY(-10px) rotate(-45deg)
