header.u-header.is_loading
  .u-header__container
    .u-header__logo Fillipp Rabachev
    nav.menu
      .menu__nav
        .menu__nav__links
          a(href='').text_roll
            span home
        .menu__nav__links
          a(href='').text_roll
            span about
        .menu__nav__links
          a(href='').text_roll
            span Contact
        .menu__nav__links
          a(href='').text_roll
            span 404
      .menu__item
        .menu__item__title
          span projects
          span.icon-arrow
          .menu__links
            a(href='').text_roll
              span FM1891INLINE
            a(href='').text_roll.is_active
              span Disposable
            a(href='').text_roll
              span METAMORPHOSES 3.0
      .menu__item
        .menu__item__title
          span directions
          span.icon-arrow
          .menu__links.-col-2
            a(href='').text_roll
              span digital art
            a(href='').text_roll
              span blurglass abstract
            a(href='').text_roll
              span photo
            a(href='').text_roll
              span collage
            a(href='').text_roll
              span art

    .u-header__button-open-menu
      span Menu
      span.icon-close close

.u-header__menu
  .container
    .menu
      .menu__item
        .menu__item__title
          span
        .menu__item__list
          a(href='')
            span index
          a(href='')
            span about
          a(href='')
            span Contact
          a(href='')
            span 404
      .menu__links
        p projects
        a(href='').is_active
          span disposable
        a(href='')
          span METAMORPHOSES 3.0
        a(href='')
          span FM1891INLINE
        p directions
        a(href='')
          span Collage.
        a(href='')
          span Digital ART
        a(href='')
          span PHOTO
        a(href='')
          span Art
        a(href='')
          span BLURGLASS ABSTRACT
        a(href='')
          span Collage


