.u-project-slider
  position: relative
  color: var(--color-text)
  overflow: hidden
  display: flex
  flex-direction: column
  padding: 0 0 calc(var(--u-ritmo-verticale-vw) * 4)
  @media (min-width: 641px)
    padding: 0 0 calc(var(--u-ritmo-verticale-vw) * 6)
  .container
    display: flex
    flex-direction: column
    @media (min-width: 641px)
      display: grid
      //grid-template-rows: 1fr calc(var(--u-ritmo-verticale-vw) * 35) auto
      gap: calc(var(--u-ritmo-verticale-vw) * 4)
      grid-template-columns: calc(var(--u-ritmo-verticale-vw) * 76) 1fr
  &__title
    display: none
    @media (min-width: 641px)
      margin: calc(var(--u-ritmo-verticale-vw) * 12.5) auto  calc(var(--u-ritmo-verticale-vw) * 2) calc(var(--u-ritmo-verticale-vw) * 42)
      grid-column: span 2
      display: flex
      align-items: flex-end
      gap: calc(var(--u-ritmo-verticale-vw) * 1)
      text-transform: uppercase
      h2
        -webkit-text-stroke: calc(var(--u-ritmo-verticale-vw) * 0.1875) var(--color-text)
        text-transform: uppercase
        color: transparent
        font-size: calc(var(--u-ritmo-verticale-vw) * 12)
        line-height: calc(var(--u-ritmo-verticale-vw) * 9)
        letter-spacing: 0.03em
      p
        font-weight: 700
        font-size: calc(var(--u-ritmo-verticale-vw) * 4)
        line-height: calc(var(--u-ritmo-verticale-vw) * 4)
        letter-spacing: 0.03em


  &__list
    display: flex
    flex-direction: column
    position: relative
    z-index: 2
    height: calc(var(--u-ritmo-verticale-vw) * 90)
    overflow: hidden
    width: 100%
    @media (min-width: 641px)
      grid-column: 1
      grid-row: span 2
      .card__image
        aspect-ratio: 612/688
    @media (max-width: 640px)
      width: 100%
      height: auto
      aspect-ratio: 360/362
      order: 1

    @media (min-width: 641px)
      &-thumbs
        overflow: hidden
        grid-column: 2
        grid-row: 2/ span 2
        width: calc(100% + 100px)
        margin-top: auto
        img
          object-fit: cover
          transition: var(--transition)
          filter: grayscale(1)
        .swiper-slide
          display: flex
          border: 2px solid transparent
          transition: border var(--transition)
        .swiper-slide:hover
          img
            filter: grayscale(0)
        .swiper-slide-thumb-active
          border: 2px solid #fed101
  &__content
    margin-bottom: calc(var(--u-ritmo-verticale-vw) * 4)
    display: flex
    flex-direction: column
    gap: calc(var(--u-ritmo-verticale-vw) * 1.5)

    @media (min-width: 641px)
      margin-bottom: 0
      grid-row: 1
      grid-column: 2
      margin-top: calc(var(--u-ritmo-verticale-vw) * 1.5)
    h3
      text-transform: uppercase
      font-weight: 700
      font-size: calc(var(--u-ritmo-verticale-vw) * 3)
      line-height: calc(var(--u-ritmo-verticale-vw) * 4)
      letter-spacing: 0.03em
      @media (min-width: 641px)
        font-size: calc(var(--u-ritmo-verticale-vw) * 8)
        line-height: calc(var(--u-ritmo-verticale-vw) * 9)
    p
      font-size: calc(var(--u-ritmo-verticale-vw) * 2.5)
      line-height: calc(var(--u-ritmo-verticale-vw) * 2.5)
      letter-spacing: -0.06em
      @media (min-width: 641px)
        font-size: calc(var(--u-ritmo-verticale-vw) * 5)
        line-height: calc(var(--u-ritmo-verticale-vw) * 5)
        margin-left: calc(var(--u-ritmo-verticale-vw) * 16)
      .js-more-text
        color: #0128E4
  .slider_controls
    @media (max-width: 640px)
      order: 1

.u-project-slider__card
  height: 100%
  transition:  var(--transition)
  .card__image
    height: 100%
  img
    transition:  var(--transition)
    object-fit: cover
    width: 100%
    //height: 100%


main > .u-project-slider
@media (min-width: 641px)

