section
    .u-project-slider
        .u-project-slider__logo Fillipp Rabachev

        .container

            .u-project-slider__actions
                .u-project-slider__nav
                    .u-project-slider__nav__item
                        a.text_roll(href='/')
                            span index
                    .u-project-slider__nav__item
                        a.text_roll(href='/')
                            span about
                    .u-project-slider__nav__item
                        a.text_roll(href='/')
                            span Contact
                    .u-project-slider__nav__item
                        a.text_roll(href='/')
                            span 404
                .u-project-slider__theme
                    button.text_roll.is_active(data-theme='white')
                        span white
                    button.text_roll(data-theme='dark')
                        span dark
                    button.text_roll(data-theme='color')
                        span color
                .u-project-slider__grid
                    button.text_roll(data-grid='OFF')
                        span grid
                .u-project-slider__pagination

            .u-project-slider__list
                .u-project-slider__card.card
                    .card--image
                        picture(aria-hidden='true')
                            source(srcset='./assets/img/gallery-1.jpg' type='image/jpg' media='(max-width: 640px)')
                            source(srcset='./assets/img/gallery-1.jpg' type='image/webp' media='(max-width: 640px)')
                            source(srcset='./assets/img/gallery-1.jpg' type='image/jpg' media='(max-width: 1920px)')
                            source(srcset='./assets/img/gallery-1.jpg' type='image/webp' media='(max-width: 1920px)')
                            source(srcset='./assets/img/gallery-1.jpg' type='image/jpg' media='(min-width: 3840px)')
                            source(srcset='./assets/img/gallery-1.jpg' type='image/webp' media='(max-width: 3840px)')
                            img(src='./assets/img/gallery-1.jpg')
                .u-project-slider__card.card
                    .card--image
                        picture(aria-hidden='true')
                            source(srcset='./assets/img/gallery-2.jpg' type='image/jpg' media='(max-width: 640px)')
                            source(srcset='./assets/img/gallery-2.jpg' type='image/webp' media='(max-width: 640px)')
                            source(srcset='./assets/img/gallery-2.jpg' type='image/jpg' media='(max-width: 1920px)')
                            source(srcset='./assets/img/gallery-2.jpg' type='image/webp' media='(max-width: 1920px)')
                            source(srcset='./assets/img/gallery-2.jpg' type='image/jpg' media='(min-width: 3840px)')
                            source(srcset='./assets/img/gallery-2.jpg' type='image/webp' media='(max-width: 3840px)')
                            img(src='./assets/img/gallery-2.jpg')
                .u-project-slider__card.card
                    .card--image
                        picture(aria-hidden='true')
                            source(srcset='./assets/img/gallery-2.jpg' type='image/jpg' media='(max-width: 640px)')
                            source(srcset='./assets/img/gallery-2.jpg' type='image/webp' media='(max-width: 640px)')
                            source(srcset='./assets/img/gallery-2.jpg' type='image/jpg' media='(max-width: 1920px)')
                            source(srcset='./assets/img/gallery-2.jpg' type='image/webp' media='(max-width: 1920px)')
                            source(srcset='./assets/img/gallery-2.jpg' type='image/jpg' media='(min-width: 3840px)')
                            source(srcset='./assets/img/gallery-2.jpg' type='image/webp' media='(max-width: 3840px)')
                            img(src='./assets/img/gallery-2.jpg')
                .u-project-slider__card.card
                    .card--image
                        picture(aria-hidden='true')
                            source(srcset='./assets/img/gallery-4.jpg' type='image/jpg' media='(max-width: 640px)')
                            source(srcset='./assets/img/gallery-4.jpg' type='image/webp' media='(max-width: 640px)')
                            source(srcset='./assets/img/gallery-4.jpg' type='image/jpg' media='(max-width: 1920px)')
                            source(srcset='./assets/img/gallery-4.jpg' type='image/webp' media='(max-width: 1920px)')
                            source(srcset='./assets/img/gallery-4.jpg' type='image/jpg' media='(min-width: 3840px)')
                            source(srcset='./assets/img/gallery-4.jpg' type='image/webp' media='(max-width: 3840px)')
                            img(src='./assets/img/gallery-4.jpg')
                .u-project-slider__card.card
                    .card--image
                        picture(aria-hidden='true')
                            source(srcset='./assets/img/gallery-1.jpg' type='image/jpg' media='(max-width: 640px)')
                            source(srcset='./assets/img/gallery-1.jpg' type='image/webp' media='(max-width: 640px)')
                            source(srcset='./assets/img/gallery-1.jpg' type='image/jpg' media='(max-width: 1920px)')
                            source(srcset='./assets/img/gallery-1.jpg' type='image/webp' media='(max-width: 1920px)')
                            source(srcset='./assets/img/gallery-1.jpg' type='image/jpg' media='(min-width: 3840px)')
                            source(srcset='./assets/img/gallery-1.jpg' type='image/webp' media='(max-width: 3840px)')
                            img(src='./assets/img/gallery-1.jpg')
                .u-project-slider__card.card
                    .card--image
                        picture(aria-hidden='true')
                            source(srcset='./assets/img/gallery-1.jpg' type='image/jpg' media='(max-width: 640px)')
                            source(srcset='./assets/img/gallery-1.jpg' type='image/webp' media='(max-width: 640px)')
                            source(srcset='./assets/img/gallery-1.jpg' type='image/jpg' media='(max-width: 1920px)')
                            source(srcset='./assets/img/gallery-1.jpg' type='image/webp' media='(max-width: 1920px)')
                            source(srcset='./assets/img/gallery-1.jpg' type='image/jpg' media='(min-width: 3840px)')
                            source(srcset='./assets/img/gallery-1.jpg' type='image/webp' media='(max-width: 3840px)')
                            img(src='./assets/img/gallery-1.jpg')
            .u-project-slider__title
                h1 Disposable
