.u-project-slider
  include ../gif/gif
  .u-project-slider__title
    p project
    h2 DISposable
  .container
    .u-project-slider__list
      .u-project-slider__card.card
        .card__image
          picture
            source(srcset='./assets/img/gallery-1.jpg' type='image/jpg' media='(max-width: 640px)')
            source(srcset='./assets/img/gallery-1.jpg' type='image/webp' media='(max-width: 640px)')
            source(srcset='./assets/img/gallery-1.jpg' type='image/jpg' media='(max-width: 1920px)')
            source(srcset='./assets/img/gallery-1.jpg' type='image/webp' media='(max-width: 1920px)')
            source(srcset='./assets/img/gallery-1.jpg' type='image/jpg' media='(min-width: 3840px)')
            source(srcset='./assets/img/gallery-1.jpg' type='image/webp' media='(max-width: 3840px)')
            img(src='./assets/img/gallery-1.jpg')
      .u-project-slider__card.card
        .card__image
          picture
            source(srcset='./assets/img/gallery-1.jpg' type='image/jpg' media='(max-width: 640px)')
            source(srcset='./assets/img/gallery-1.jpg' type='image/webp' media='(max-width: 640px)')
            source(srcset='./assets/img/gallery-1.jpg' type='image/jpg' media='(max-width: 1920px)')
            source(srcset='./assets/img/gallery-1.jpg' type='image/webp' media='(max-width: 1920px)')
            source(srcset='./assets/img/gallery-1.jpg' type='image/jpg' media='(min-width: 3840px)')
            source(srcset='./assets/img/gallery-1.jpg' type='image/webp' media='(max-width: 3840px)')
            img(src='./assets/img/gallery-1.jpg')
      .u-project-slider__card.card
        .card__image
          picture
            source(srcset='./assets/img/gallery-1.jpg' type='image/jpg' media='(max-width: 640px)')
            source(srcset='./assets/img/gallery-1.jpg' type='image/webp' media='(max-width: 640px)')
            source(srcset='./assets/img/gallery-1.jpg' type='image/jpg' media='(max-width: 1920px)')
            source(srcset='./assets/img/gallery-1.jpg' type='image/webp' media='(max-width: 1920px)')
            source(srcset='./assets/img/gallery-1.jpg' type='image/jpg' media='(min-width: 3840px)')
            source(srcset='./assets/img/gallery-1.jpg' type='image/webp' media='(max-width: 3840px)')
            img(src='./assets/img/gallery-1.jpg')
      .u-project-slider__card.card
        .card__image
          picture
            source(srcset='./assets/img/gallery-4.jpg' type='image/jpg' media='(max-width: 640px)')
            source(srcset='./assets/img/gallery-4.jpg' type='image/webp' media='(max-width: 640px)')
            source(srcset='./assets/img/gallery-4.jpg' type='image/jpg' media='(max-width: 1920px)')
            source(srcset='./assets/img/gallery-4.jpg' type='image/webp' media='(max-width: 1920px)')
            source(srcset='./assets/img/gallery-4.jpg' type='image/jpg' media='(min-width: 3840px)')
            source(srcset='./assets/img/gallery-4.jpg' type='image/webp' media='(max-width: 3840px)')
            img(src='./assets/img/gallery-4.jpg')
      .u-project-slider__card.card
        .card__image
          picture
            source(srcset='./assets/img/gallery-1.jpg' type='image/jpg' media='(max-width: 640px)')
            source(srcset='./assets/img/gallery-1.jpg' type='image/webp' media='(max-width: 640px)')
            source(srcset='./assets/img/gallery-1.jpg' type='image/jpg' media='(max-width: 1920px)')
            source(srcset='./assets/img/gallery-1.jpg' type='image/webp' media='(max-width: 1920px)')
            source(srcset='./assets/img/gallery-1.jpg' type='image/jpg' media='(min-width: 3840px)')
            source(srcset='./assets/img/gallery-1.jpg' type='image/webp' media='(max-width: 3840px)')
            img(src='./assets/img/gallery-1.jpg')
      .u-project-slider__card.card
        .card__image
          picture
            source(srcset='./assets/img/gallery-1.jpg' type='image/jpg' media='(max-width: 640px)')
            source(srcset='./assets/img/gallery-1.jpg' type='image/webp' media='(max-width: 640px)')
            source(srcset='./assets/img/gallery-1.jpg' type='image/jpg' media='(max-width: 1920px)')
            source(srcset='./assets/img/gallery-1.jpg' type='image/webp' media='(max-width: 1920px)')
            source(srcset='./assets/img/gallery-1.jpg' type='image/jpg' media='(min-width: 3840px)')
            source(srcset='./assets/img/gallery-1.jpg' type='image/webp' media='(max-width: 3840px)')
            img(src='./assets/img/gallery-1.jpg')
    .u-project-slider__content
      h3 The idea and concept
      p Every day, Philipp encountered disposable&nbsp;
        a things
        | &nbsp;on the streets, which formed the basis of the project. Developing this idea, Philipp decided to reveal the topic through the prism of photography and art.

