.footer
  background-color: #dddddd
  margin-top: -100lvh
  height: calc(var(--footerHeight) + 100vh)

  &__container
    position: sticky
    top: calc( 100vh - var(--footerHeight))

.footer
  position: relative
  z-index: 1
  background-color: #f0f0f0

