footer.footer
  .footer__container

    .footer__col.footer__col-1
      .footer__col_img
        //img(src="./assets/img/footer/1.jpg")
        img(src='./assets/img/gif-footer.gif')
      .footer__col_links
        a.text_roll(href='/')
          span Behance
        a.text_roll(href='/')
          span Inst
        a.text_roll(href='/')
          span tg
        a.text_roll(href='/')
          span youtube
        a.text_roll(href='/')
          span vk

    .footer__col.footer__col-2
      //img(src="./assets/img/footer/1.jpg")
      img(src='./assets/img/gif-footer.gif')
    .footer__col.footer__col-3
      .footer__col_links
        a.text_roll(href='/')
          span home
        a.text_roll(href='/')
          span about
        a.text_roll(href='/')
          span Contact
        a.text_roll(href='/')
          span 404
      .footer__col_img
        img(src='./assets/img/gif-footer.gif')
    .footer__title
        p Fillipp Rabachev
    .footer__note
      p made in ritmo



