.footer
  height: 50vh
  background-color: #dddddd
  //margin-top: -50vh
  //position: fixed
  //width: 100%
  //bottom: 0
  bottom: 0


//.u-image-text
//  position: relative
//  z-index: 2
//  background-color: white
//  transition: transform 0.5s ease


.footer
  //position: relative
  z-index: 1
  background-color: #f0f0f0

